<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Conexion</servlet-name>
        <servlet-class>co.utilidades.Conexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionUsuarios</servlet-name>
        <servlet-class>co.controladores.usuarios.GestionUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PeticionesAjax</servlet-name>
        <servlet-class>co.utilidades.PeticionesAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionSesiones</servlet-name>
        <servlet-class>co.controladores.usuarios.GestionSesiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionProductos</servlet-name>
        <servlet-class>co.controladores.ofertas.GestionProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionOfertas</servlet-name>
        <servlet-class>co.controladores.ofertas.GestionOfertas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conexion</servlet-name>
        <url-pattern>/Conexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionUsuarios</servlet-name>
        <url-pattern>/GestionUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PeticionesAjax</servlet-name>
        <url-pattern>/PeticionesAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionSesiones</servlet-name>
        <url-pattern>/GestionSesiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionProductos</servlet-name>
        <url-pattern>/GestionProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionOfertas</servlet-name>
        <url-pattern>/GestionOfertas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>Pool conexiones MySQL</description>
        <res-ref-name>jdbc/farm</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
